body {
    margin: 0;
    padding: 0;
    background: #e8f5ff;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #4a0cc7;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.logo {
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.search-btn,
.close-btn {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* SEARCH BOX */
.search-box {
    width: 100%;
    background: #4a0cc7;
    padding: 20px 50px;
    margin-top: 20px;
    display: none;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search-box input {
    width: 70%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
}
